
<style>

a:visited {
     color:red;
     background-color:transparent;
     text-decoration:none;
}

a:hover{
     color:orange;
     background-color:yellow;
     text-decoration:none;
}

a:active{
     color:purple;
     background-color:none;
     text-decoration:none;
}

ul {
     list-style-type:none;
     margin:0;
     padding:0;
     overflow:hidden;
     background-color:#114459;
     text-align:center;
     font-family: courier;
     text-size: 3vw;
     text-transform: uppercase;
}

li{
     float:left;
}

li a{
     display:block;
     color:red;
     text-align:center;
     padding:15px;
     text-decoration:none;
}

li a:hover{
     background-color:#1A6889;
}

h1.one {
     font-family:verdana;
     Text-align:center;
     font-size:5vw;
     text-decoration:overline underline;
     text-decoration-color: green;
}

body{ 
     background:#219CCC url("Heart cookie.png") repeat-x right top scroll;

}

p.one{
     text-align:center;
     font-size:2vw;
     background-color:#692b68;
     font-family:courier;
}

bdo {
     Border-style: outset double dashed dotted;
     padding:10px;
     border-width: 5px 10px 20px 15px;
     border-color: #FAA019 #1973FA #FA3019 #E4FA19;
     border-radius:20px;
     
}

div.Hone{
     background-color:#601A89;
     color:#EB10B2;
     padding:20px;
     width:90%;
     float: left;
}

div.Pone{
     background-color:#702FA2;
     color:#63db64;
     padding:20px;
     width:60%;
     float:left;
}

.mercs{
     padding-top: 50px;
     padding-left: 100px;
     width:90%;
     float:left;
}

@media screen and (max-width:800px) {
     h1.one, .Pone, .mercs {
          width:100%;
     }
}

.skeletondog{
}

span.shaun {
     border-bottom: 5px double  #37FF33;
     border-right: 6px double #37ff33;
     border-top: 7px double #37ff33;
     border-left: 8px double #37ff33;
     padding-right:10px;
     font-variant: small-caps;
     background-color: #03D100;
}

p.two{
     position: sticky;
     bottom: 0;
     
}
.box{
     height:1100px;
     width:850px;
     background-color: #603F99;
}

p.three{
     margin:10px;
     color:#54034A;
     font-family:tahoma;
     text-align:right;
     letter-spacing: 15px;
     white-space: wrap;
     text-shadow: 1px 1px 2px purple,0 0 25px blue, 0 0 5px red; /* the third number is a blur on the text shadow and you can combine more than one shadow, seperate by using a comma */
     font-weight:1000;
     
}

form{
     position: fixed;
     bottom: 0;
     right: 0;
     width: 300px;
     border: 3px solid #F54927;
}

div.fireballs{
     background-color: #F5B027;
}
</style>
